*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: #f1f1f1de;
}
.student-dashboard-wrapper {
    text-align: center;
}
.wrapper-header {
    background: #dadada73;
    padding: 2%;
    margin-bottom: 4%;
}
.wrapper-card {
    width: 60%;
    margin: 0 auto;
    padding: 1%;
    background: #fff;
    border: none;
    box-shadow: 1px 2px 0px 0px #b4b9c175;
}
.wrapper-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.level {
    width: 30%;
}
@media screen and (min-width: 768) {
    button {
    margin: 5%;
    padding: 2%;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    background: #2874f0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    border: none;
    cursor: pointer;
}
}
